// Debug

.site-header,
.site-footer {
  display: none;
}

// Typographic variables
// https://github.com/corysimmons/typographic
$line-height-ratio: 1.75;
$header-ratio       : $golden;
$body-font          : $serif;
$body-font-weight   : $serif-normal;
$body-color         : #222;
$header-font        : $sans-serif;
$header-font-weight : $sans-serif-bold;
$header-color       : #222;
$min-font           : 16px;
$max-font           : 20px;
$min-width          : 600px;
$max-width          : 800px;
$vertical-rhythm    : true;
//@include grid-overlay(red, 1.75);
@include typographic();

.post {
  margin: vr-block(2) 5em;
  p {
    margin-bottom: 0;
  }
  p + p {
    text-indent: 2em;
  }
}
.post-header {
  margin-bottom: vr-block(1);
}
.post-title {
  //font-style: italic;
}
.post-meta {
  font-style: italic;
}
.post-content p {
  max-width: 40em;
}

code {
  font-family: $mono;
}
