// Vintage
// Heading: futura-pt
// Body:    grad
// Mono:    letter-gothic-std
//
// Modern
// Heading: sofia-pro-condensed
// Body:    chaparral-pro
// Mono:    inconsolata

$sans-serif: 'sofia-pro', sans-serif;
$serif: 'chaparral-pro', serif;
$mono: 'inconsolata', mono;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$sans-serif-normal: 400;
$sans-serif-bold: 600;
$serif-normal: 400;
$serif-bold: 600;
$mono-normal: 500;

$font-size-base: 16px;
